


.my-nav{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    .logo{
        width: 30%;
        img{
            width: 25%;
            margin-left: 125px;
        }
    }
    .align-right{
        justify-content: space-around;
        .font{
            font-size: 20px;
            padding: 0 15px;
        }
    }
}
.banner{
    .align-item-center{
        align-items: center;
    }
    .b-img{
        width: 100%;
    }
    .LeftTopImage{
        img{
            position: absolute;
            top: 70px;
            left: -225px;
        }
    }
}